.root {
  background: #eeeeee;
}

.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 20rem;
  margin: 1rem;
  padding: 1rem;

  background: #ffffff;
  border: 1px solid #cccccc;
}

.cardHeader {
  margin-top: 0;
  color: #666666;
}

.cardContent {
  flex: 1;
  overflow: auto;
}

.cardProgress {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(5, 141, 5, 0.8);
  color: white;
}
